{% extends "!layout.html" %}

{%- block extrahead %}
{{ super() }}
<meta name="description" content="OCaml Scientific and Engineering Computing">
<meta name="keywords" content="OCaml, Data Science, Data Analytics, Analytics, Functional Programming, Machine Learning, Deep Neural Network, Scientific Computing, Numerical Algorithm, Tutorial, Linear Algebra, Matrix">
<meta name="author" content="Liang Wang">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123353217-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-123353217-1');
</script>
<!-- Google AdSense -->
<script data-ad-client="ca-pub-1868946892712371" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Media.Net -->
<script type="text/javascript">
  window._mNHandle = window._mNHandle || {};
  window._mNHandle.queue = window._mNHandle.queue || [];
  medianet_versionId = "3121199";
</script>
<script src="https://contextual.media.net/dmedianet.js?cid=8CU51B3CU" async="async"></script>
{% endblock %}

{% block footer %}
{{ super() }}
<!-- Extra footer if necessary -->
{% endblock %}
